<GeneralContainer>
  <h1>Member Form</h1>
  <form {{on "submit" this.submitMember}}>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="name" class="form-control" id="name" aria-describedby="name" value={{this.model.name}} {{on "input" this.updateName}} />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Role</label>
      <select class="form-select" aria-label="role" {{on "change" this.updateRole}} value={{this.model.role}}>
        <option value="Developer" selected>Developer</option>
        <option value="Designer">Designer</option>
        <option value="Marketing">Marketing</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</GeneralContainer>